@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Merienda:wght@300..900&display=swap');
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
main {
    text-align: center;
}
header {
    background-color: #BC88EB;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: "Merienda";
    font-size: 1.3em;
    padding: 35px;
}
nav a:hover {
    color: white;
    background-color: #A44DEB;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
main.home-grid {
    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr 25px;
    grid-template-rows: 25px 1fr 50px 100px 250px 50px;
    row-gap: 25px;
}
h1 {
    font-family: "Merienda";
}
.home-title {
    color: #A44DEB;
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: start;
}
.homeimg-emma {
    grid-row: 2/3;
    grid-column-start: 2;
    width: 100%;
}
.homeimg-sunset {
    grid-row: 4/6;
    width: 100%;
    grid-column: 1/6;
}
div.home-msg {
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: #E6BC69;
    font-family: "Concert One";
    border: solid 2px white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px black;
}
.home-msg {
    padding: 30px;
}
main.aboutme-grid {
    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr 25px;
    grid-template-rows: 25px 1fr;
    row-gap: 25px;
    column-gap: 25px;
}
.aboutme-img {
    width: 100%;
    grid-column: 2/3;
    grid-row-start: 3;
}
.aboutme-title {
    color: black;
    padding: 5%;
    grid-column: 2/3;
    grid-row-start: 2;
    z-index: 1;
    align-self: start;
    justify-self: start;
}
.hero-img {
    z-index: 0;
    width: 100%;
    grid-column: 1/6;
    grid-row-start: 2;
}
#Intro, #Music, #Traveling, #Future {
    font-family: "Concert One";
    padding: 30px;
}
.tabs {
    grid-column: 3/5;
    grid-row-start: 3;
}
.tab {
    overflow: hidden;
    border: 1px solid #A44DEB;
    background-color: #BC88EB;
}
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-family: "Merienda";
    font-size: 1.3em;
}
.tab button:hover {
    background-color: #E6BC69;
}
.tab button.active {
    background-color: #A44DEB;
}
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}
.experience-grid {
    display: grid;
    grid-template-rows: 25px 250px 1fr 50px 1fr;
    grid-template-columns: 25px 1fr 50px 1fr 50px 1fr 25px;
}
.experience-title {
    color: #A44DEB;
    justify-self: start;
    grid-column: 2/3;
    grid-row: 1/2;
}
.top-img, .bottom-img {
    width: 100%;
}
.top-img {
    grid-column: 5/7;
    grid-row-start: 2;
}
.bottom-img {
    grid-column: 2/4;
    grid-row-start: 4;
    z-index: -1;
}
.experience-msg {
    grid-column: 3/6;
    grid-row: 3/5;
    font-family: "Concert One";
    background-color: #EAA1B4;
    padding: 8px;
    border-radius: 7px;
    border: solid 2px #e67895;
    box-shadow: 5px 5px 10px black;
}
div.experience-msg button {
    cursor: pointer;
    outline: none;
    box-shadow: 5px 5px 10px black;
    background-color: #e67895;
    padding: 7px;
    border-radius: 7px;
    font-family: "Concert One";
    font-size: 1.3em;
    color: black;
}
div.experience-msg button:hover {
    background-color: #e45a7f;
}
div.experience-msg button:active {
    background-color: #e45a7f;
    box-shadow: 5px 5px 10px black;
    transform: translateY(4px);
}
footer {
    background-color: #BC88EB;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a, footer p {
    color: black;
    text-decoration: none;
    font-family: "Merienda";
    font-size: 1.3em;
}
footer a:hover {
    color: #E6BC69;
}