@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Merienda:wght@300..900&display=swap');
body {
    background-color: white;
    margin: 0;
    padding: 0;
}
main {
    text-align: center;
}
header {
    background-color: #BC88EB;
    display: grid;
    grid-template-columns: 150px auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: "Merienda";
    padding: 35px;
}
nav a:hover {
    color: white;
    background-color: #A44DEB;
}
#logo-link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
.logo {
    width: 80px;
}
main {
    display: grid;
    grid-template-columns: 25px 1fr 1fr 1fr 25px;
    grid-template-rows: 25px 1fr 50px 100px 250px 50px;
    row-gap: 25px;
}
h1 {
    grid-row: 2/3;
    grid-column: 3/4;
    align-self: start;
    color: #A44DEB;
    font-family: "Merienda";
}
.homeimg-emma {
    grid-row: 2/3;
    grid-column-start: 2;
    width: 100%;
}
.homeimg-sunset {
    grid-row: 4/6;
    width: 100%;
    grid-column: 1/6;
}
div.home-msg {
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: #E6BC69;
    font-family: "Concert One";
    border: solid 2px white;
    border-radius: 7px;
    box-shadow: 5px 5px 10px black;
}
.home-msg {
    padding: 30px;
}
footer {
    background-color: #BC88EB;
    color: white;
    font-family: "Merienda";
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #E6BC69;
}